<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %-5level [%logger] %msg%n%xThrowable" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.hc.client" level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
